body {
	background-color: #364f6b;
	color: #fff;
	font-family: 'Helvetica', 'Tahoma', sans-serif;
	font-size: 16px;
}

button {
	cursor: pointer;
}

.btn {
	border: none;
	display: inline-block;
	padding: 20px 40px;
	text-transform: uppercase;
	background-color: #222;
	color: whitesmoke;
	font-weight: 700;
	letter-spacing: 0.1em;
	transition: background 0.25s ease-out;
}

.btn:hover {
    background-color: #2CD892 !important;
}

.btn.btn--accent {
	background-color: #fc5185;
}

.btn.btn--base {
	background-color: #f5f5f5;
	color: #222;
}

.btn.btn--alt {
	background-color: #4aa0d5;
	color: white;
}

.button--def {
	border: none;
	display: inline-block;
	padding: 20px 40px;
	text-transform: uppercase;
	background-color: #222;
	color: whitesmoke;
	font-weight: 700;
	letter-spacing: 0.1em;
	transition: background 0.25s ease-out;
}

.button--def:hover {
    background-color: #2CD892;
}

.hidden {
	display: none !important;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.pull-right {
	float: right;
}

.flashcard {
	border: 1px solid #000;
	margin: 20px;
	background-color: #ffe700;
	color: black;
}

.flashcard__front {
	text-align: center;
	font-size: 24px;
	padding: 20px;
}

.flashcard__back {
	text-align: center;
	padding-top: 20px;
	border-top: 1px dashed black;
}

.flashcard-actions {
	text-align: center;
}

.flashcard-actions button {
	padding: 10px;
	margin-right: 10px;
}

.deck-list {
	display: block;
	margin: 0 20px 20px 0;
	padding: 0;
}

.deck {
	margin-bottom: 0.5em;
	list-style-type: none;
	padding: 20px;
	border-left: 3px solid cyan;
	background-color: #3fc1c9;
}

.deck > div {
	float: left;
}

.deck::after {
	content: '';
	display: table;
	clear: both;
}

.deck .deck__actions {
	float: right;
}
.deck__name {
	width: 50%;
	font-size: 24px;
}

.app-header {
	padding: 20px;
	text-align: center;
}

.app-header__title {
	font-size: 3em;
}

.app_header__description {
	font-size: 1.4em;
	color: #ccc;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	background: #eb586f;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.25s ease-in-out, visibility 0s 0.25s;	
}

.overlay__button-close {
	width: 45px;
	height: 45px;
	position: absolute;
	right: 20px;
	top: 20px;
	border: none;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
}

.overlay__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 70px;
}

.overlay--open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.25s ease-in-out;	
}

.study-done {
	text-align: center;
}

.call-to-action {
	text-align: center;
}

.main {
}

.main__content {
	padding-top: 2em;
}
.input {
	position: relative;
	margin: 0 1em 1em 0;
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	width: 15em;
}

.input__field {
	border: 2px solid transparent;
	font-size: 24px;
	line-height: 30px;
	position: relative;
	display: block;
	float: right;
	width: 100%;
	background-color: #d0d1d0;
	padding: 0.8em;
}

.form {
}

