body {
	color: #fff;
	font-family: 'Roboto', 'Helvetica', 'Tahoma', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #364f6b;
}


@media only screen and (max-width: 375px)  { 
	body {
    	font-size: 14px;
    }
}


h1 {
	font-weight: 700;
}

.hidden {
	display: none !important;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.pull-right {
	float: right;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.link {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px dashed #ffffff;
}

.link:hover {
	color: #000;
	border-bottom: 1px dashed #000;
}

.btn {
	border: none;
	display: inline-block;
	padding: 20px 40px;
	text-transform: uppercase;
	background-color: #222;
	color: whitesmoke;
	font-weight: 700;
	letter-spacing: 0.1em;
	transition: background 0.25s ease-out;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	cursor: pointer;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	user-select: none;   
}

.btn.btn--accent {
	background-color: #fc5185;
}

.btn.btn--accent:hover {
    background-color: #2CD892 !important;
}

.btn.btn--base {
	background-color: #f5f5f5;
	color: #222;
}

.btn.btn--base:hover {
	background-color: #fff;
}

.btn.btn--alt {
	background-color: #4aa0d5;
	color: white;
}

.btn.btn--alt:hover {
    background-color: #5fc1fe !important;
}

.flashcard {
	margin: 2rem;
	background-color: #ffe700;
	color: black;
}

.flashcard__front {
	text-align: center;
	font-size: 24px;
	padding: 2em;
}

.flashcard__back {
	text-align: center;
	padding: 2em;
	border-top: 1px dashed black;
}

.flashcard-actions {
	text-align: center;
}

.flashcard-actions .btn {
	margin: 0 1em 1em 0;
}

.deck-grid {
	margin: 0 auto;
	padding: 0 8px;
	
	width: 100%;
	box-sizing: border-box;

	display: -webkit-flex; /* Safari */
	display: flex;

    -webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
	
	-webkit-justify-content: center; /* Safari */
	justify-content: center;
}

.deck {
	margin-bottom: 1em;
	margin-right: 1em;
	min-width: 26em;
	max-width: 26em;
	min-height: 15em;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	background-color: #e45a84;
	list-style-type: none;

	-webkit-flex: 1 0 26em;
	flex: 1 0 26em;

	display: -webkit-flex; /* Safari */
	display: flex;	

	-webkit-flex-direction: column;
	flex-direction: column;
}

.deck__top {
	padding: 1rem;
	position: relative;

	-webkit-flex: 1 0 auto;
	flex: 1;	
}

.deck__action-link {
	color: rgba(0,0,0,0.3);
	text-transform: uppercase;
	border: none;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.deck__action-link:hover {
	color: #222;
}

.deck__actions {
	padding: 8px;
	background-color: #d45178;
	position: relative;
	overflow: hidden;
}

.deck__actions.deck__actions--ext .main-actions {
	position: absolute;

	z-index: 1;
	background-color: inherit;

	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);

}

.deck__actions.deck__actions--ext .ext-actions {
	float: none;
}

.deck__actions.deck__actions--ext .ext-actions__content {
	display: inline-block;
}

.deck .btn.btn--more {
	padding: 2px 0 3px 15px;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}

.ext-actions {
	float: right;
	display: inline-block;
}

.main-actions {
	position: relative;
	display: inline-block;

	-webkit-transition: -webkit-transform 0.25s ease-in;
	transition: transform 0.25s ease-in;
}

.ext-actions__content {
	display: none;
}

.deck__count {
	display: inline-block;
	font-size: 1.2rem;
	color: #f8a6be; /*rgba(0, 0, 0, 0.3); */
	text-decoration: none;
	border-bottom: 1px dashed;
}

.deck__name {
	display: inline-block;
	font-size: 1.4em;
	font-weight: 500;
	margin-right: 1em;
	margin-bottom: 0.4em;
	color: #fff; /* rgba(0, 0, 0, 0.3); */
}

.deck--empty {
	background-color: transparent;
	box-shadow: none;
	position: relative;
	max-width: 18rem;
}

.deck--empty a {
	display: block;
	text-align: center;
	border: 1px dashed;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	position: absolute;
}

.deck--empty a > span {
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.deck--empty a:hover {
	color: #fc5185;
}

.deck .btn {
	padding: 15px 20px;
	box-shadow: none;
	background-color: transparent;
}

.app-header {
	padding: 2rem;
	text-align: center;
}

.app-header__title {
	font-size: 3rem;
	text-shadow: 4px 3px 0 #3c6a9e,9px 8px 0 rgba(0,0,0,0.15);	
	margin: 0;
}

.app_header__description {
	font-size: 1.4em;
	color: rgb(106, 152, 203);
	text-align: center;
	margin: 0 0 2rem 0;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #fff;
	background: #2CD892; /* #fc5185; */ /* #eb586f; */
	visibility: hidden;
	overflow: auto;

	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	
	-webkit-transition: -webkit-transform 0.25s ease-in, visibility 0s 0.25s;
	transition: transform 0.25s ease-in, visibility 0s 0.25s;	
}

.overlay__button-close {
	width: 45px;
	height: 45px;
	position: absolute;
	right: 20px;
	top: 20px;
	border: none;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3) ;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAAhklEQVRYhe3VwQ3AIAxD0ezH/vO4p0gc2kqFNNiS/wD4HWiJcM4555xqAAaAwXre0wAqRirP+n2oDVsx2I7dGT6GXQEcx36B0GCzNxAdNruD0WKzGUiPzSYoPzZCDCx1JaQ+OqnfmtTDIfU0rwCOoXeG29EVg23oyqEWdD4IrOc555xzrr0LvMqzEF8atfgAAAAASUVORK5CYII=');
	color: #fff;
	cursor: pointer;
}

.overlay__content {
	max-width: 960px;
	margin: 0 auto;
}

.overlay__title {
	margin: 1rem 74px 1rem 1rem;
	color: rgba(0, 0, 0, 0.1);
	font-size: 1.3rem;
}

.overlay--open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.25s ease-out;	
}

.study-done {
	text-align: center;
	padding-top: 4rem;
}

.call-to-action {
	text-align: center;
}

.main {
	/*padding: 2em 5%;	*/
}

.main__content {
	/*max-width: 960px;*/
	/*margin: 0 auto;*/
}

.input {
	margin-bottom: 20px;
	max-width: 40rem;
}

.input__field {
	display: block;
	border: 2px solid transparent;
	padding: 0.4em;
	font-size: 2em;
	width: 100%;
	background-color: #d0d1d0;
}

.input__label {
	display: inline-block;
	font-size: 1.5em;
	padding: 0;
	color: #f2ede3;
}

.form {
	position: relative;
	color: #f2ede3;
	margin: 1rem;
}

.form__title {
	margin-bottom: 2rem;
	color: rgba(0, 0, 0, 0.1);
	font-size: 1.3rem;
}

.form__title h1 {
	margin: 0;
	font-weight: 700;
}

.form__fields {
	padding-bottom: 2rem;
}

.form__fields .btn {
	margin-right: 1em;
	margin-bottom: 1em;
}

.undo {
	position: fixed;
	bottom: 0;
	padding: 1rem;
	background-color: #203348;
	width: 100%;
	visibility: hidden;

	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.25s ease-in, visibility 0s 0.25s;
	transition: transform 0.25s ease-in, visibility 0s 0.25s;	
}

.undo button {
	margin-right: 1rem;
}

.undo--open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.25s ease-out;
	transition: transform 0.25s ease-out;		
}
